
$primary-color: #333;


/*////////////////////////////////*/
/*// MAIN AREA //*/

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
	background-color: #333;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Patua One', cursive;
	/*font-family: 'Roboto', sans-serif;*/
}

p, a {
	font-family: 'Roboto', sans-serif;
}


/*////////////////////////////////*/
/*// NAVIGATION BAR //*/

.navbar-brand {
	width: 50px;
	height: 50px;
}

.navbar {
	background-color: #fff;
}

#navbar-1,
#navbar-2,
#navbar-3,
#navbar-4,
#navbarDropdown,
.dropdown-item {
	color: #730335;
	font-family: 'Patua One', cursive;
	text-transform: uppercase;
	font-size: .8rem;
}

#nav-button {
	border: 1px solid #333;
}

/* Navigation Animation Effects */

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}

#navbar-1:hover,
#navbar-2:hover,
#navbar-3:hover,
#navbar-4:hover,
#navbarDropdown:hover,
.dropdown-item:hover {
	color: #F1C40F;
}

nav ul li a:hover {
  color: #555;
}

nav.shift ul li a {
  position:relative;
  z-index: 1;
}

nav.shift ul li a:hover {
  color: #F1C40F;
}

nav.shift ul li a:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '.';
  color: transparent;
  background: #730335;
  visibility: none;
  opacity: 0;
  z-index: -1;
  border-radius: 5px;
}
nav.shift ul li a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}